# dependencies
node_modules/

# next.js
.next/
out/

# env files — NEVER commit real secrets
.env
.env.local
.env.*.local

# misc
.DS_Store
*.log
npm-debug.log*

# TypeScript build info
tsconfig.tsbuildinfo

# prisma
prisma/migrations/dev.db

# vercel
.vercel
